/* pink #FF6978 */
/* navy #114B5F */
/* white #F1F7ED */
/* yellow #E5E059 */
/* blue #5DFDCB */
body{
  font-family: 'Indie Flower', cursive;
}
header{
  height: 100vh;
  background: url("about.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-center{
  height: 100vh;
  color: #FF6978;
  display:flex;
  flex-direction:column;
  justify-content:center;
}
.banner-center a{
  font-size: 30px;
  width: 300px;
  margin: 0px auto;
  display: inline-block;
  border: 3px solid #114B5F;
  color: #114B5F ;
  border-radius: 20px;
  text-decoration: none;
}
.banner-center a:hover,
.banner-center a:focus{
  color:white;
  background-color: #114B5F;
}
/* skills */
.title{
  margin: 20px 0;
}
#skills{
  padding:40px;
  color:#FF6978;
  margin-bottom: 10px;
}
#skills .svg-inline--fa{
  font-size: 50px;
  margin-bottom: 10px;
  color:#114B5F ;
}
/* end of skills */
/*  About  */

#about{
  /* position: absolute; */
  /* top:50%; */
  /* left:50%; */
  /* transform:translate( -600px, -160px); */
  height:400px;
  width: 1300px;
  background-color: #114B5F ;
  /* display: flex; */
  /* box-shadow:  */
}
/* #about .content{
  width:calc(50% - 50px);
  height:100%;
  background:white;
  box-sizing: border-box;
  display:flow-root;
  flex-direction: column;

} */
#about .pic{
  /* width:calc(50% + 50px); */
  height:600px;
  /* background:whitw ; */
  /* box-sizing: border-box; */
  border-left: 100px solid #114B5F ;
  border-bottom: 600px solid transparent;
  background: url(banner.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat:no-repeat;


}
#about .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
}


























/* end of about */
